/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
*.log
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*
/bootstrap/cache/*.php

!/bootstrap/cache/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
