/vendor/
/node_modules/
.env
.phpunit.result.cache
*.log
/storage/logs/*.log
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
